
@import "fuentes";
@import "variables";
@import "parcial";
@import "general";
@import "grilla";

//Font-awesome
@import "font-awesome/main";

// Prueba
h1{
	font-family: Titillium Web;
    font-weight: 600;
    font-style: normal;
}





// @include breakpoint(x-large){
// 	body{
// 		background-color: blue;
// 	}
// }
// @include breakpoint(large){
// 	body{
// 		background-color: red;
// 	}
// }
// @include breakpoint(medium){
// 	body{
// 		background-color: orange;
// 	}
// }
// @include breakpoint(small){
// 	body{
// 		background-color: pink;
// 	}
// }
// @include breakpoint(small-to-medium){
// 	body{
// 		background-color: green;
// 	}
// }
// @include breakpoint(medium-to-large){
// 	body{
// 		background-color: purple;
// 	}
// }

