<!DOCTYPE html>
<html ng-app="MyApp">
	<head>
		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Programador</title>
		<script src="js/lib/angular.min.js"></script>
		<script src="js/main.js"></script>
		<link rel="stylesheet" href="css/main.css" />
	</head>
	<body ng-controller="SkillsCtrl">
		<section id="first">
			<div class="row">
				<div class="col-12">
					<div>
						<h1>
							Soy José Osorio
						</h1>
						<h2>
							Programador
						</h2>		
					</div>
				</div>
			</div>
		</section>
		<section id="second">
			<div class="yosoy s2l"></div>
			<div class="s2r">
					<!-- Añadir los padding en los extremos para los elementos dentro de s2r -->
					<h2>Quien Soy?</h2>
					<p class="pad">Soy un Ingeniero de ejecución informático titulado de <strong>Santo Tomás</strong> Talca. Poseo experiencia en el desarrollo de <strong>Software</strong> y me caracterizo por ser un profesional capaz de adaptarme a diversos equipos de trabajo donde aporto ideas y soluciones.</p>
					<div class="mono">
						<div>
							<i class="fa fa-envelope"></i> Correo : jose.osorio.herrera@gmail.com<br>
							<i class="fa fa-linkedin"></i> Likedin : cl.linkedin.com/in/joseosorioherrera<br>
							<i class="fa fa-phone"></i> Teléfono : +569-73040302		
						</div>
					</div>			
				</div>
		</section>
		<section id="third">
			<div class="row">
				<div class="col-12">
					<div class="box">
						<div class="inbox">
							<i class="fa fa-code fa-2x"></i>
							<h3>Programador</h3>			
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="fourth">
			<header class="cont-h">
				<div class="row">
					<div class="col-12">
						<div class="box">
							<div class="inbox">
								<h2>Experiencia</h2>
								<div class="csubico">
									<span class="guion"><i class="fa fa-suitcase"></i></span>
								</div>
							</div>
						</div>
					</div>
				</div>	
			</header>

			<section class="cont-b">
				<div class="row">
					<div class="col-6-e hide-col">
						<p class="numl">1</p>
					</div>
					<div class="col-6-e bl">
						<article>
							<div class="mboxl">
								<i class="fa fa-suitcase"></i> 	
							</div>
							<ul class="clistl">
								<li><h3>Desarrollador Web, <i>Full time</i></h3></li>
								<li><h4>Independiente</h4></li>
								<li><p>Desarrollo de Aplicaciones Web, toma de requerimientos, desarrollo, testeo e implementación.Integración de mejoras y modulos nuevos a diversos sistemas. Investigaciones personales destinadas a mejorar como profesional.</p></li>
								<li><span>Jun 2015 - Ene 2016</span></li>
							</ul>
						</article>
					</div>
				</div>	
			</section>
			
			<section class="cont-b">
				<div class="row">
					<div class="col-6-e br">
						<article>
							<header>
								<div class="mboxr">
									<i class="fa fa-suitcase"></i>
								</div>
								<ul class="clistr">
								<li><h3>Ingeniero en Desarrollo, <i>Full time</i></h3></li>
								<li><h4>Tutelkan Ltda</h4></li>
								<li><p>Desarrollo de Web Apps para diversos clientes en Talca, tanto Front-End y Back-End. Soporte para aplicaciones desarrollas, Testeo de software con diversos casos de pruebas, captura de requerimientos.</p></li>
								<li><span>Oct 2013 - Mar 2015</span></li>
							</ul>
						</article>
					</div>
					<div class="col-6-e hide-col">
						<p class="numr">2</p>
					</div>
				</div>
			</section>
			
			<section class="cont-b">
				<div class="row">
					<div class="col-6-e hide-col">
						<p class="numl">3</p>
					</div>
					<div class="col-6-e bl">
						<article>
							<div class="mboxl">
								<i class="fa fa-suitcase"></i> 	
							</div>
							<ul class="clistl">
								<li><h3>Desarrollador Android</h3></li>
								<li><h4>Tesis</h4></li>
								<li><p>Desarrollo de aplicación para teléfonos android simulando la intranet de alumnos de una institución. La Aplicación fue desarrollada tomando encuenta el patrón de arquitectura MVC y la arquitectura Cliente/Servidor.</p></li>
								<li><span>Oct 2013 - Mar 2015</span></li>
							</ul>
						</article>
					</div>
				</div>
			</section>
		</section>
		<section id="fifth">
			<header class="cont-h">
				<div class="row">
					<div class="col-12">
						<div class="box">
							<div class="inbox">
								<h2>Estudios</h2>
								<div class="csubico">
									<span class="guion"><i class="fa fa-graduation-cap"></i></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</header>
			
			<section class="cont-b">
				<div class="row">
					<div class="col-6-e hide-col">
						<p class="numl">1</p>
					</div>
					<div class="col-6-e bl">
						<article>
							<div class="mboxl">
								<i class="fa fa-graduation-cap"></i>
							</div>
							<ul class="clistl">
								<li><h3>Santo Tomas, <i>Talca</i></h3></li>
								<li><h4>Ingeniero Ejecución informática</h4></li>
								<li><span>2009 - 2013</span></li>
							</ul>
						</article>
					</div>
				</div>	
			</section>
			
			<section class="cont-b">
				<div class="row">
					<div class="col-6-e br">
						<article>
							<div class="mboxr">
								<i class="fa fa-graduation-cap"></i>
							</div>
							<ul class="clistr">
								<li><h3>Juan Piamarta, <i>Talca</i></h3></li>
								<li><h4>Técnico nivel medio en Telecomunicaciones</h4></li>
								<li><span>2006 - 2007</span></li>
							</ul>
						</article>
					</div>
					<div class="col-6-e hide-col">
						<p class="numr">2</p>
					</div>
				</div>
			</section>
		</section>
		<section id="sixth">
			<header class="cont-h">
				<div class="row">
					<div class="col-12">
						<div class="box">
							<div class="inbox">
								<h2>Habilidades</h2>
								<div class="csubico">
									<span class="guion"><i class="fa fa-magic"></i></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</header>
			
			<section class="cont-b">
				<div class="col-12" ng-show="loading">
					<span>Cargando <strong>habilidades</strong> <i class="fa fa-circle-o-notch fa-spin fa-lg"></i></span>
				</div>
				<div ng-repeat="skill_t0 in skills_t0" ng-show="skills">
					<div class="row">
						<div ng-repeat="sk_t0 in skill_t0">
							<article class="col-4-e">
								<section>
									<div class="contenedor-g">
										<div class="borde p{{sk_t0.porcentaje}}">
											<div class="circulo">
												<span class="porcentaje">{{sk_t0.porcentaje}}%</span>
											</div>
										</div>
									</div>
								</section>
								<footer>{{sk_t0.descripcion}}</footer>
							</article>
						</div>
					</div>
				</div>
			</section>
			
			<section class="cont-b">
				<div class="row">
					<div class="col-12">
						<h3>Más Hablilidades</h3>
					</div>
				</div>
			</section>
			
			<section class="cont-b">
				<div class="col-12" ng-show="loading">
					<span>Cargando <strong>habilidades</strong> <i class="fa fa-circle-o-notch fa-spin fa-lg"></i></span>
				</div>
				<div ng-repeat="skill_t1 in skills_t1" ng-show="skills">
					<div class="row">
						<div ng-repeat="sk_t1 in skill_t1">
							<article class="col-6-e contenedor-b">
								<header>{{sk_t1.descripcion}},<i>{{sk_t1.porcentaje}}%</i></header>
								<section>
									<div class="barra-b">
										<div class="barra-f pb{{sk_t1.porcentaje}}"></div>
									</div>
									
								</section>
							</article>
						</div>
					</div>
				</div>
			</section>
		</section>
		<footer id="seventh">
			<div class="row">
				<div class="col-12">
					<h3>Sigueme en</h3>
					<span>
						<a href="https://twitter.com/informatico_asd">
							<i class="fa fa-twitter"></i>
						</a>
						<a href="https://www.instagram.com/arcanvsxiii/">
							<i class="fa fa-instagram"></i>
						</a>
						<a href="https://cl.linkedin.com/in/joseosorioherrera">
							<i class="fa fa-linkedin"></i>
						</a>	
					</span>
					<span>Desarrollado con <i class="fa fa-heart"></i> -2016</span>		
				</div>
			</div>
		</footer>
		<script>
  			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-75761871-1', 'auto');
			ga('send', 'pageview');
		</script>
	</body>
</html>